 
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle job1" style="height:300px;margin-top: 80px;">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Find Users</h1>
          <!-- Breadcrumb row -->
          <div class="breadcrumb-row">
            <ul class="list-inline">
              <li><a href="<%= root_path %>">Home</a></li>
              <li>Find Users</li>
            </ul>
          </div>
          <!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
        <div class="section-full content-inner">
          <div class="container">
              <h5 class="widget-title font-weight-700 text-uppercase" style="font-weight: bold;">Find People</h5>
                <% if @profiles.count == 0 %>
                  <h1  align="center">Oops! No Users Found.</br>Come Back Later</br><i style="font-size:50px; color: #FFD700;" class="fa fa-frown-o reset-i"></i></h1>
                  
                <% end %>
            <%= form_tag(profiles_path, :method=>'get') do %>
              <div class="row" style="background-color: #F0F8FF;">
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label>Person Name</label>
                    <div class="input-group">
                      <%= text_field_tag :search_name ,"",class: "form-control",placeholder: "Name"%>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label>City</label>
                    <div class="input-group">
                      <%= text_field_tag :search_city ,"",class: "form-control",placeholder: "City name"%>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label>Country</label>
                    <div class="input-group">
                      <%= text_field_tag :search_country ,"",class: "form-control",placeholder: "Country name"%>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-globe"></i></span>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label>Company</label>
                    <div class="input-group">
                      <%= text_field_tag :search_company ,"",class: "form-control",placeholder: "Company name"%>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-building"></i></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label>Profession</label>
                    <div class="input-group">
                      <%= text_field_tag :search_profession ,"",class: "form-control",placeholder: "Profession name"%>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6" style="margin-top: 30px;">
                  <%= submit_tag "Find User", class: "site-button bg-primary col-lg-4 col-md-6" %>
                </div> 

              </div>


            <% end %>
            <div class="row" style="margin-top: 30px;">
              <% @profiles.each do|user| %>
              <div class="col-4 col-lg-3" >
                <div class="m-b30 blog-grid" >
                                  <div class="dez-post-media dez-img-effect " style="min-height: 200px; max-height: 200px;background-color: #A9A9A9;"> 
                                        <% if user.avatar != nil %>
                                             <p ><%= image_tag(user.avatar(:original)) %></p>
                                        <% else %>
                                            <img class="img1">
                                        <% end %>
                                     </div>
                                  <div class="dez-info p-a20 border-1">
                                      <div class="dez-post-title "style="min-height: 60px;" >
                                          <h5 class="post-title" ><a href="#"><strong style="font-weight: bold;"><%= user.name %></strong></a></h5>
                                      </div>
                                      <div class="dez-post-meta ">
                                          <ul>
                                              <li class="post-date"> <i class="fa fa-map-marker"></i><%= user.city %>,<%= user.country %> </li></br>
                                              <li class="post-author"><i class="fa fa-user"></i><%= user.working_at %> </li>
                                          </ul>
                                      </div>
                                      <div class="dez-post-text" style="min-height: 60px;" >
                                        <div class="job-time mr-auto">
                                          <span><%= user.profession %></span>
                                        </div>   
                                     </div>
                                     <div class="dez-post-readmore"> 
                      <a><%= link_to "View Profile",profile_path(user),class: "bg-primary site-button outine" %></a>
                    </div>
                                  </div>
                              </div>
              </div>
              <% end %>
            </div>
            <div class="pagination-bx m-t30" >
              <%= will_paginate @profiles,class: "pagination center" %>
            </div>
          </div>
        </div>
      </div>
    </div>

