
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle job1" >
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">User Details</h1>
          <!-- Breadcrumb row -->
          <div class="breadcrumb-row">
            <ul class="list-inline">
              <li><a href="<%= root_path %>">Home</a></li>
              <li ><a href="<%= profiles_path %>">Find Users</a></li>
              <li>User Details</li>
            </ul>
          </div>
          <!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
            <!-- Job Detail -->
      <div class="section-full content-inner-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="sticky-top">
                <div class="row">
                  <div class="col-lg-12 col-md-6 ">
                    <div class="m-b30" >
                      <% if @profile.avatar != nil  %>              
                        <%= image_tag @profile.avatar(:medium) %>
                      <% else %>
                        <img class="img1">
                      <% end %>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-6">
                    <div class="widget bg-white p-lr20 p-t20  widget_getintuch radius-sm">
                      <h4 class="text-black font-weight-700 p-t10 m-b15">User Info</h4>
                      <ul>
                        <li><i class="fa fa-map-marker"></i><strong class="font-weight-700 text-black">Address</strong><span class="text-black-light"><%= @profile.address %></span></li>
                        <li><i class="fa fa-laptop"></i><strong class="font-weight-700 text-black">Profession</strong><%= @profile.profession %></li>
                        <li><i class="fa fa-user"></i><strong class="font-weight-700 text-black">Experience</strong><%= @profile.experience %> <% if @profile.experience==1 %>Year<% else%> Years<% end %></li>
                        <li><i class="fa fa-building"></i><strong class="font-weight-700 text-black">Working at</strong><%= @profile.working_at %></li>
                      </ul>
                    </div>
                  </div>
                </div>
                            </div>
            </div>
            <div class="col-lg-8">
              <div class="job-info-box">
                <h3 class="m-t0 m-b10 font-weight-700 title-head">
                  <a href="#" class="text-secondry m-r30"><%= @profile.name %></a>
                </h3>
                <ul class="job-info">
                  <li><strong>Education</strong> <%= @profile.profession %></li>
                  <li><strong>Joined at: </strong><%= @profile.created_at.to_date %></li>
                  <li><i class="fa fa-map-markertext-black m-r5"></i><%= @profile.city%>,<%= @profile.country %></li>
                </ul>
                <p class="p-t20"><%= @profile.personal_info %></p>
                <h5 class="font-weight-600">Qualification</h5>
                <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
                <p><%= @profile.qualification %></p>
                <h5 class="font-weight-600">Skills</h5>
                <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
                <p><%= @profile.skills %></p>
                <h5 class="font-weight-600">Previous experience</h5>
                <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
                <p><%= @profile.experience_detail %></p>
                <h5 class="font-weight-600">Interests</h5>
                <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
                <p><%= @profile.interests %></p>
<!--                 <ul class="list-num-count no-round">
                  <li>The DexignLab Privacy Policy was updated on 25 June 2018.</li>
                  <li>Who We Are and What This Policy Covers</li>
                  <li>Remaining essentially unchanged It was popularised in the 1960s </li>
                  <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</li>
                  <li>DexignLab standard dummy text ever since</li>
                </ul> -->
                  <% if current_user == @profile.user %>
                    <div style="margin-top: 50px;">
                      <%= link_to "Edit",edit_profile_path(@profile),class: "site-button bg-success" %>
                      <%= link_to "Delete",profile_path(@profile),method: :delete,data:{confirm: "Are you sure to delete job"},class: "site-button bg-danger" %>
                    </div>
                  <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
            <!-- Job Detail -->
      <!-- Our Jobs -->
      <div class="section-full content-inner">
        <div class="container">
          <div class="row">
            <% @profiles.sample(4).each do|user| %>
            <% if @profile.user != current_user %>
            <% if user.user != current_user && user.user != @profile.user %>
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="m-b30 blog-grid">
                                <div class="dez-post-media dez-img-effect " style="height: 200px;background-color: #A9A9A9;"> <a href="#">
                                        <% if user.avatar != nil %>
                                             <p ><%= image_tag(user.avatar(:original)) %></p>
                                        <% else %>
                                            <img class="img1">
                                        <% end %>
                                </a> </div>
                                <div class="dez-info p-a20 border-1">
                                    <div class="dez-post-title " style="min-height: 60px;">
                                        <h5 class="post-title"><a href="#"><%= user.name %></a></h5>
                                    </div>
                                    <div class="dez-post-meta ">
                                        <ul>
                                              <li class="post-date"> <i class="fa fa-map-marker"></i><%= user.city %>,<%= user.country %> </li>
                                              <li class="post-author"><i class="fa fa-user"></i><%= user.working_at %> </li>
                                        </ul>
                                    </div>
                                    <div class="dez-post-text" style="min-height: 60px;">
                                      <div class="job-time mr-auto">
                                        <span><%= user.profession %></span>
                                      </div>   
                                    </div>
                                   <div class="dez-post-readmore"> 
                    <a href="<%= profile_path(user) %>" class="btn btn-primary  outline">View Profile <i class="ti-arrow-right"></i></a>
                  </div>
                                </div>
                            </div>
            </div>
            <% end %>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Our Jobs END -->
    </div>
    </div>
    <!-- Content END-->
  <!-- Footer -->