
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle bg-pt login1" >
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Change your password</h1>
          <!-- Breadcrumb row -->
  <!--         <div class="breadcrumb-row">
            <ul class="list-inline">
              <li><a href="#">Home</a></li>
              <li>Register</li>
            </ul>
          </div> -->
          <!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="section-full content-inner-2 shop-account">
            <!-- Product -->
            <div class="container">
                <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="font-weight-700 m-t0 m-b20">Change Password</h3>
          </div>
        </div>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= render 'layouts/messages' %>
        
        <div>
          <div class="max-w500 m-auto m-b30">
            <div class="p-a30 border-1 seth">
              <div class="tab-content nav">
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                  <%= f.hidden_field :reset_password_token %>
                  <h4 class="font-weight-700">Account Information</h4>
                  <div class="form-group">
                    <%= f.label :password, "New password",class: "font-weight-700" %><br />
                    <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                    <% end %>
                    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" ,class: "form-control"%>
                  </div>
                  <div class="form-group">
                    <%= f.label :password_confirmation, "Confirm new password",class: "font-weight-700" %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>

                  </div>
                  <div class="text-left">
                    <%= f.submit "Change Password", class: "site-button m-r5 button-lg" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
            <!-- Product END -->
    </div>
    <!-- contact area  END -->
    </div>
