
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle job1" >
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Candidate Detail</h1>
          <!-- Breadcrumb row -->
          <div class="breadcrumb-row">
            <ul class="list-inline">
              <li><a href="<%= root_path %>">Home</a></li>
              <li ><a href="<%= job_applications_path %>">Browse Candidates</a></li>
              <li>Job Detail</li>
            </ul>
          </div>
          <!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
            <!-- Job Detail -->
      <div class="section-full content-inner-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="sticky-top">
                <div class="row">
                  <div class="col-lg-12 col-md-6">
                    <div class="m-b30" >
                      <% if @applicant.avatar != nil %>              
                        <%= image_tag @applicant.avatar(:medium) %>
                      <% else %>
                        <img class="img3">
                      <% end %>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-6">
                    <div class="widget bg-white p-lr20 p-t20  widget_getintuch radius-sm">
                      <h4 class="text-black font-weight-700 p-t10 m-b15">Candidate Details</h4>
                      <ul>
                        <li><i class="fa fa-map-marker"></i><strong class="font-weight-700 text-black">Address</strong><span class="text-black-light"><%= @applicant.address %></span></li>
                        <li><i class="fa fa-money"></i><strong class="font-weight-700 text-black">Age</strong> <%= @applicant.age %></li>
                        <li><i class="ti-shield"></i><strong class="font-weight-700 text-black">Experience</strong><%= @applicant.experience %> Years</li>
                        <li><i class="ti-money"></i><strong class="font-weight-700 text-black">Job applied for</strong> <%= @applicant.job.title%></li>
                        <li><i class="ti-shield"></i><strong class="font-weight-700 text-black">Last company</strong><%= @applicant.previous_company %></li>
                      </ul>
                    </div>
                  </div>
                </div>
                            </div>
            </div>
            <div class="col-lg-8">
              <div class="job-info-box">
                <h3 class="m-t0 m-b10 font-weight-700 title-head">
                  <a href="#" class="text-secondry m-r30"><%= @applicant.name %></a>
                </h3>
                <ul class="job-info">
                  <li><strong>Education</strong> <%= @applicant.qualification %></li>
                  <li><strong>Submitted: </strong><%= time_ago_in_words(@applicant.created_at) %> ago</li>
                  <li><i class="fa fa-map-markertext-black m-r5"></i><%= @applicant.city%>,<%= @applicant.country %></li>
                </ul>
                <p class="p-t20"><%= @applicant.personalinfo %></p>
                <h5 class="font-weight-600">Qualification</h5>
                <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
                <p><%= @applicant.qualification_detail %></p>
                <h5 class="font-weight-600">Skills</h5>
                <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
                <p><%= @applicant.skills %></p>
                <h5 class="font-weight-600">Previous experience</h5>
                <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
                <p><%= @applicant.experience_detail %></p>
<!--                 <ul class="list-num-count no-round">
                  <li>The DexignLab Privacy Policy was updated on 25 June 2018.</li>
                  <li>Who We Are and What This Policy Covers</li>
                  <li>Remaining essentially unchanged It was popularised in the 1960s </li>
                  <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</li>
                  <li>DexignLab standard dummy text ever since</li>
                </ul> -->
                <% if(@applicant.file != nil) %>
                <%= link_to "Download Resume", @applicant.file.url,class: "site-button bg-primary" %>
                <% end %>
                <% if current_user == @applicant.user %>
                  <%= link_to "Edit",edit_job_application_path(@applicant),class: "site-button bg-success" %>
                  <%= link_to "Delete",job_application_path(@applicant),method: :delete,data:{confirm: "Are you sure to delete job"},class: "site-button bg-danger" %>
                <% elsif current_user == @applicant.job.user %>
                  <%= link_to "Delete",job_path(@applicant),method: :delete,data:{confirm: "Are you sure to delete job"},class: "site-button bg-danger" %>
                <% end %>
                    
              </div>
            </div>
          </div>
        </div>
      </div>
            <!-- Job Detail -->
      <!-- Our Jobs -->
 <!--      <div class="section-full content-inner">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="m-b30 blog-grid">
                                <div class="dez-post-media dez-img-effect "> <a href="#"><img class="img4" alt=""></a> </div>
                                <div class="dez-info p-a20 border-1">
                                    <div class="dez-post-title ">
                                        <h5 class="post-title"><a href="#">Title of blog post</a></h5>
                                    </div>
                                    <div class="dez-post-meta ">
                                        <ul>
                                            <li class="post-date"> <i class="ti-location-pin"></i> London </li>
                                            <li class="post-author"><i class="ti-user"></i>By <a href="#">Jone</a> </li>
                                        </ul>
                                    </div>
                                    <div class="dez-post-text">
                                         <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
                                    </div>
                                   <div class="dez-post-readmore"> 
                    <a href="#" class="btn btn-primary  outline">Apply Now <i class="ti-arrow-right"></i></a>
                  </div>
                                </div>
                            </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="m-b30 blog-grid">
                                <div class="dez-post-media dez-img-effect "> <a href="#"><img class="img5" alt=""></a> </div>
                                <div class="dez-info p-a20 border-1">
                                    <div class="dez-post-title ">
                                        <h5 class="post-title"><a href="#">Title of blog post</a></h5>
                                    </div>
                                    <div class="dez-post-meta ">
                                        <ul>
                                            <li class="post-date"> <i class="fa fa-map-marker"></i> London </li>
                                            <li class="post-author"><i class="fa fa-user"></i>By <a href="#">Jone</a> </li>
                                        </ul>
                                    </div>
                                    <div class="dez-post-text">
                                         <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
                                    </div>
                                   <div class="dez-post-readmore"> 
                    <a href="#" class="btn btn-primary outline">Apply Now <i class="ti-arrow-right"></i></a>
                  </div>
                                </div>
                            </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="m-b30 blog-grid">
                                <div class="dez-post-media dez-img-effect "> <a href="#"><img class="img6" alt=""></a> </div>
                                <div class="dez-info p-a20 border-1">
                                    <div class="dez-post-title ">
                                        <h5 class="post-title"><a href="#">Title of blog post</a></h5>
                                    </div>
                                    <div class="dez-post-meta ">
                                        <ul>
                      <li class="post-date"> <i class="ti-location-pin"></i> London </li>
                                            <li class="post-author"><i class="ti-user"></i>By <a href="#">Jone</a> </li>
                                        </ul>
                                    </div>
                                    <div class="dez-post-text">
                                         <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
                                    </div>
                                   <div class="dez-post-readmore"> 
                    <a href="#" class="btn btn-primary outline">Apply Now <i class="ti-arrow-right"></i></a>
                  </div>
                                </div>
                            </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="m-b30 blog-grid">
                                <div class="dez-post-media dez-img-effect "> <a href="#"><img class="img7" alt=""></a> </div>
                                <div class="dez-info p-a20 border-1">
                                    <div class="dez-post-title ">
                                        <h5 class="post-title"><a href="#">Title of blog post</a></h5>
                                    </div>
                                    <div class="dez-post-meta ">
                                        <ul>
                      <li class="post-date"> <i class="ti-location-pin"></i> London </li>
                                            <li class="post-author"><i class="ti-user"></i>By <a href="#">Jone</a> </li>
                                        </ul>
                                    </div>
                                    <div class="dez-post-text">
                                         <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
                                    </div>
                                   <div class="dez-post-readmore"> 
                    <a href="#" class="btn btn-primary outline">Apply Now <i class="ti-arrow-right"></i></a>
                  </div>
                                </div>
                            </div>
            </div>
          </div>
        </div>
      </div>
 -->      <!-- Our Jobs END -->
    </div>
    </div>
    <!-- Content END-->
  <!-- Footer -->
